<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Study Hours</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime
        placeholder="Set"
          displayFormat="HH:mm"
          [(ngModel)]="startStudingTime"
          [style.padding]="'5px 20px'"
        [style.margin]="'0 auto'"
        [style.border]="'2px solid #ff0f9b'"
        [style.border-radius]="'5px'"
        [style.text-align]="'center'"
        [style.width]="'40%'"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>End Time</ion-label>
        <ion-datetime
        placeholder="Set"
          displayFormat="HH:mm"
          [(ngModel)]="endStudingTime"
          [style.padding]="'5px 20px'"
          [style.margin]="'0 auto'"
          [style.border]="'2px solid #ff0f9b'"
          [style.border-radius]="'5px'"
          [style.text-align]="'center'"
          [style.width]="'40%'"
        ></ion-datetime>
      </ion-item>
      <ion-button
        (click)="onSubmitStudyHours()"
        color="primary"
        [style.width]="'100%'"
        [style.height]="'40px'"
        [style.margin-top]="'5px'"
        >Add</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>School Tasks</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-tasks></app-tasks>
    </ion-card-content>
  </ion-card>
</ion-content>
