<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title [style.text-align]="'center'">About</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title [style.text-align]="'center'">Support Me</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>Support me so I can be able to roll out more updates</h2>
      <br>
      <h2>Bitcoin:</h2><p>bc1qvnwyxyamjrn3lk6t76j2fvzwqfa6zvuy99v2fr</p>
      <br>
      <h2>Ethereum: </h2><p>0xCBB6E40e415F913e1a6c4A8B50097cfD6B87E788</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title [style.text-align]="'center'">Contact Me</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
